---
import CardPost from "../components/CardPost.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-4">
    <ul
      class="mx-auto gap-4 columns-2 md:columns-3 lg:columns-4 xl:columns-5 2xl:columns-6"
      id="my-gallery"
    >
      <CardPost />
    </ul>
  </main>
</Layout>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let lightbox;

  // Función para inicializar el Lightbox
  const initLightbox = () => {
    // Si ya existe una instancia previa, destruirla antes de crear una nueva
    if (lightbox) {
      lightbox.destroy();
    }

    lightbox = new PhotoSwipeLightbox({
      gallery: "#my-gallery div",
      showHideAnimationType: "zoom",
      closeOnVerticalDrag: true,
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  };

  // Escuchar el evento `astro:after-swap` para reinicializar el Lightbox
  document.addEventListener("astro:after-swap", () => {
    initLightbox();
  });

  // Inicializar el Lightbox en la primera carga
  document.addEventListener("DOMContentLoaded", () => {
    initLightbox();
  });
</script>
