---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-cover bg-bg-image bg-no-repeat bg-center w-full h-svh">
    <div class="h-full w-full grid place-content-center">
      <div class="flex flex-col justify-center pb-4 items-center text-center gap-4 text-white backdrop-brightness-75 rounded-sm">
        <h2 class="text-5xl p-4">Art by YulyVP</h2>
        <div class="text-2xl ">
          <h3>Traditional & Digital Artist</h3>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>

</style>
