---
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "./../sanity/lib/urlForImage";
const { data: posts } = await loadQuery({
  query: `*[_type == 'sanity.imageAsset' && (title == "backgroundImage")]{url,
  "imageWidth": metadata.dimensions.width,
  "imageHeight": metadata.dimensions.height, 'alt' : alt}`,
  params: {},
});
---

<Layout>
  <div
    class={`bg-cover bg-no-repeat bg-center w-full h-svh`}
    style=`background-image: url(${urlForImage(posts[0].url).width(1920).height(960).quality(80).format("webp").url()});`
  >
    <div class="h-full w-full grid place-content-center backdrop-brightness-75">
      <div
        class="flex flex-col justify-center pb-4 items-center text-center text-white uppercase text-balance"
      >
        <h2 class="text-6xl xl:text-7xl">Art by Yuly VP</h2>
        <div class="text-xl lg:text-2xl">
          <h3 class="py-4">Traditional & Digital Artist</h3>
          <a
            href="/gallery"
            class="animate-pulse hover:animate-none py-1 px-2 border rounded-sm"
            >Gallery</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
