---
import BackgroundBlog from "../../components/BackgroundBlog.astro";
import PostSection from "../../components/PostSection.jsx";
import Layout from "./../../layouts/Layout.astro";
---

<Layout title="Blog">
  <div>
    <BackgroundBlog />
    <PostSection client:load/>
  </div>
</Layout>
