---
import Layout from "./../../layouts/Layout.astro";
import { loadQuery } from "./../../sanity/lib/load-query"; // Importa la función loadQuery
import { urlForImage } from "./../../sanity/lib/urlForImage"; // Asegúrate de importar urlForImage

// Consulta para obtener los posts
const POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...12]{
  _id,
  title,
  slug,
  publishedAt,
  "bodyText": body[].children[].text,
  mainImage
}`;

const { data: posts } = await loadQuery({ query: POSTS_QUERY, params: {} }); // Asegúrate de incluir params
---

<Layout title="Post">
  <main class="container mx-auto min-h-screen ">
    <h1 class="text-4xl font-bold py-4 text-center">Post</h1>
    <ul class="flex flex-row justify-center flex-wrap gap-y-4 w-full ">
      {
        posts.map((post) => (
          <li class="hover:underline capitalize p-5 md:mx-2 md:max-w-2xl">
            <a href={`/post/${post.slug.current}`} class="">
              <img
                src={urlForImage(post.mainImage).quality(10).format("webp").url()}
                alt={post.mainImage.alt}
                class="rounded-xl object-cover aspect-square"
              />
              <div class="my-2">
                <time class="text-gray-500 hover:no-underline">
                  {new Date(post.publishedAt).toLocaleDateString()}
                </time>
                <h2 class="text-xl font-semibold">{post.title}</h2>
                <p>{post.bodyText ? post.bodyText : "..."}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
