---
let redSocial = [
  {
    red: "Tiktok",
    src: "https://www.tiktok.com/@yuuuly.vp",
  },
  {
    red: "Instagram",
    src: "https://www.instagram.com/yuuulyvp/",
  },
  {
    red: "Facebook",
    src: "https://www.facebook.com/people/Yuly-Vp/pfbid0dfHYEMYZT5BhMtcKqUY83Yu69uzd1XJ1K3GEiq8tzkDG54LtaiBEQTUcVkkRCYAsl/",
  },
  {
    red: "Cara",
    src: "https://cara.app/yulyvp",
  },
];
---

<section
  class="flex flex-col justify-center items-center gap-5 mx-auto min-w-96 max-h-full"
>
  {
    redSocial.map((e) => (
      <a
        href={e.src}
        target="_blank"
        class="text-xl transition-all py-6 w-full border-[1px] rounded-xl border-[#8D0056] hover:bg-[#8D0056] active:bg-[#8D0056]"
      >
        {e.red}
      </a>
    ))
  }
</section>
