---
export const prerender = false;
import { loadQuery } from "./../sanity/lib/load-query";

const { data: posts } = await loadQuery({
  query: `*[_type == "SocialLink"] {
    links[] {
      redtitulo,
      redhref
    }
  }`,
  params: {},
});
---

<section
  class="flex flex-col justify-center items-center gap-5 mx-auto min-h-24-full w-full max-w-96 max-h-full"
>
  {
    posts.map((post) =>
      post.links.map((link) => (
        <a
          href={link.redhref}
          target="_blank"
          class="text-xl transition-all py-6 w-full border-[1px] rounded-xl border-[#af006b] hover:bg-[#af006b] active:bg-[#af006b]"
        >
          {link.redtitulo}
        </a>
      ))
    )
  }
</section>
