---
import FooterSocialLink from "./FooterSocialLink.astro";
import Links from "./Links.astro";
import Textfooter from "./Textfooter.astro";
---

<footer class="text-center border-t-2 border-fuchsia-700/20 bg-fuchsia-950/40">
  <div class="flex flex-col gap-4 py-4 text-xl">
    <ul class="flex justify-center space-x-12">
      <FooterSocialLink />
    </ul>
    <ul class="flex justify-center space-x-8 text-lg">
      <Links />
    </ul>
  </div>
  <div class="bg-fuchsia-950/80 py-2 text-white font-semibold">
    <Textfooter />
  </div>
</footer>
