---
let links = {nombre: ['home','galery','post', 'contact', 'about'], href: '/'}
const {classes} = Astro.props
---

{
  links.nombre.map((link) => (
    <li class="flex">
      <a class=`capitalize ${classes}` href={links.href + ((link === 'home')? "": link)}>
        {link}
      </a>
    </li>
  ))
}
