---
let links = ['home','galery','post']
const {classes} = Astro.props
---

{
  links.map((link) => (
    <li class="flex">
      <a
        class={`capitalize ${classes}`}
        href={link === 'home' ? '/' : `/${link}`}
      >
        {link}
      </a>
    </li>
  ))
}
