---
import Links from './Links.astro'
import {Icon} from 'astro-icon/components'
---

<div
  id="side_menu_bg"
  class="fixed h-screen w-screen z-10 bg-fuchsia-950 opacity-90 hidden backdrop-blur-md transition-all duration-300 top-0 right-0"
>
</div>
<ul
  id="side_menu"
  class="flex z-20 top-0 right-0 flex-col gap-2 h-full py-12 px-4 w-72 sm:w-80 md:w-96 fixed translate-x-full transition-all duration-300 bg-fuchsia-900 text-xl"
>
  <button
    class="p-2 rounded-md text-2xl hover:bg-fuchsia-800 self-end"
    id="side_menu_cross"
    aria-label="Cerrar el menú de navegación"
  >
    <Icon name="close" />
  </button>
  <Links
    classes="bg-fuchsia-900 w-full py-2 px-4 rounded-lg hover:bg-fuchsia-800 hover:underline"
  />
</ul>
<script>
  import {isSideMenuOpen} from '../store/store.js'
  const sideMenu = document.getElementById('side_menu')
  const sideMenuBackground = document.getElementById('side_menu_bg')
  const sideMenuCross = document.getElementById('side_menu_cross')

  const handleCloseSideMenu = () => {
    isSideMenuOpen.set(false)
  }

  // Escucha los cambios en el store y muestra/oculta el diálogo en consecuencia
  isSideMenuOpen.subscribe((open) => {
    if (open) {
      sideMenuBackground.classList.remove('hidden')
      sideMenu.classList.remove('translate-x-full')
      sideMenu.classList.add('translate-x-0')
    } else {
      sideMenuBackground.classList.add('hidden')
      sideMenu.classList.remove('translate-x-0')
      sideMenu.classList.add('translate-x-full')
    }
  })

  sideMenuCross.addEventListener('click', handleCloseSideMenu)
  sideMenuBackground.addEventListener('click', handleCloseSideMenu)
</script>
