---
import MenuResponsive from "./MenuResponsive.astro";
import Links from "./Links.astro";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import logo from "../assets/images/logo.webp";
---

<div
  class="flex justify-between items-center text-xl p-4 border-b-2 border-fuchsia-700 max-h-40"
>
  <h1 class="size-32">
    <a href="/">
      <Image src={logo} alt="Logo" />
    </a>
  </h1>
  <nav class="flex flex-row relative md:gap-4">
    <button
      id="nav_button"
      class="text-3xl md:hidden"
      aria-label="Abre el menú de navegación"
    >
      <Icon name="menu" />
    </button>
    <ul class="hidden p-5 space-x-5 md:flex">
      <Links
        classes="hidden transition-all duration-300 ease-in-out md:block hover:[text-shadow:_0_4px_8px_#E200FD]"
      />
    </ul>
    <MenuResponsive />
  </nav>
</div>

<script>
  import { isSideMenuOpen } from "../store/store.js";

  const handleOpenSideMenu = () => {
    isSideMenuOpen.set(true);
  };

  // Espera a que el DOM esté completamente cargado
  document.addEventListener("click", () => {
    const button = document.getElementById("nav_button");
    if (button) {
      button.addEventListener("click", handleOpenSideMenu);
    }
  });
</script>
