---
import MenuResponsive from "./MenuResponsive.astro";
import Links from "./Links.astro";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import logo from "../assets/images/logo.webp";
---

<div
  class="flex md:flex-col md:justify-center justify-between p-4 items-center text-xl pt-4 border-b-2 border-fuchsia-700"
>
  <h1>
    <a class="flex items-center justify-center text-white text-5xl" href="/">
      YulyVP
    </a>
  </h1>
  <nav class="flex flex-row relative md:gap-4">
    <button
      id="nav_button"
      class="text-4xl md:hidden"
      aria-label="Abre el menú de navegación"
    >
      <Icon name="menu" />
  </button>
    <ul class="hidden space-x-20 md:flex">
      <Links
        classes="hidden p-4 transition-all duration-300 ease-in-out md:block hover:[text-shadow:_0_4px_8px_#E200FD]"
      />
    </ul>
    <MenuResponsive />
  </nav>
</div>

<script>
  import { isSideMenuOpen } from "../store/store.js";

  const handleOpenSideMenu = () => {
    isSideMenuOpen.set(true);
  };

  // Espera a que el DOM esté completamente cargado
  document.addEventListener("click", () => {
    const button = document.getElementById("nav_button");
    if (button) {
      button.addEventListener("click", handleOpenSideMenu);
    }
  });
</script>
