---
import MenuResponsive from "./MenuResponsive.astro";
import Links from "./Links.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="sticky bg-black/90 top-0 z-50 overflow-hidden flex md:flex-row md:justify-between justify-between items-center px-4 text-xl border-b-2 border-fuchsia-700 backdrop-blur-md"
>
  <h1 translate="no">
    <a
      class="flex items-center justify-center text-white text-4xl lg:text-5xl py-4"
      href="/"
    >
      YULY VP
    </a>
  </h1>
  <nav class="flex flex-row relative md:gap-4">
    <button
      id="nav_button"
      class="text-4xl md:hidden"
      aria-label="Abre el menú de navegación"
    >
      <Icon name="menu" />
    </button>
    <ul id="hiddenLinks" class="hidden md:flex md:items-center">
      <Links
        classes="hidden transition-all py-4 px-4 duration-300 ease-in-out md:block"
        classLi="items-center"
      />
    </ul>
  </nav>
</div>
<MenuResponsive />
<script>
  import { isSideMenuOpen } from "../store/store.js";

  // Función para abrir el menú
  const handleOpenSideMenu = () => {
    isSideMenuOpen.set(true);
  };

  // Inicializar eventos cuando el DOM esté listo
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("nav_button");
    if (button) {
      button.addEventListener("click", handleOpenSideMenu);
    }
  });
</script>
