---

---

<li
  class="inline-flex opacity-70 hover:opacity-100 transition-all cursor-pointer items-center justify-center rounded-full border border-fuchsia-500 px-2 py-1 text-sm backdrop-blur-3xl"
>
  <a
    class="font-medium  text-red-white text-white  bg-clip-text"
  >
    <slot/>
  </a>
</li>
