---
const { classes } = Astro.props;
const currentYear = new Date().getFullYear();
---
<a href="https://github.com/FernandoEscuderoDev" target="_blank" rel="noopener noreferrer" class={`${classes} text-sm select-none`}>
&copy;{currentYear} By FernDev.
</a>