---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const { title = "YulyVP" } = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="scrollbar-thin scrollbar-track-fuchsia-950 scrollbar-thumb-fuchsia-700"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col text-fuchsia-500 bg-fuchsia-950">
    <Navbar />
    <slot />
    <Footer/>
  </body>
</html>
<style is:global>
  html{
    scrollbar-gutter: stable;
  }
</style>
