---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const { title = "YulyVP" } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="font-rasputin scrollbar-thin scrollbar-track-fuchsia-950 scrollbar-thumb-fuchsia-700"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <ViewTransitions />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/png" href="/icono.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="grid min-h-screen text-fuchsia-500 bg-[#0D000A]">
    <div
      class="fixed inset-0 -z-20 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#330029_100%)]"
    >
    </div>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    scrollbar-gutter: stable;
  }
  body {
    grid-template-rows: auto 1fr auto;
  }
  .pswp__dynamic-caption {
    color: #fff;
    width: 100%;
  }
  .pswp__dynamic-caption--aside {
    max-width: 500px;
    padding: 20px;
    margin-top: 70px;
  }
  .pswp__dynamic-caption--below {
    max-width: 700px;
    padding: 15px 0 0;
  }
  .pswp__dynamic-caption--mobile {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
  }
  @font-face {
    font-family: "Rasputin";
    src: url("/fonts/RasputinRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
